<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Course Diary</title>
  <link rel="shortcut icon" href="pepepe.png">
</head>
<body>
<h1 class="TITULO">
  <ul>
      <link rel="stylesheet" href="spaces.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
      <figure>
          Course
          Diary
        </figure>
  </ul>
</h1>
  <div class= div>
  <a title="LOGIN" href="inicio.html"><img src="img/thumbs-up-icon-vector-symbol-in-flat-style.jpg" width="55"alt="LOGIN" /></a>
  </div>
</body>
</html>
