<!DOCTYPE html>
<html lang="ES">
<head>
  <meta charset="UTF-8" />
  <title>1103</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Derek Samuel Paul Peña</p>
      <p>
        NO SABES ESTO POR MOLESTAR <a href="https://adonisjs.com/docs">Documentate</a>.
      </p>
      <p>PP</p>
    </div>
  </section>
</body>
</html>
